<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Idea</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
	<div class="testbox">
	<form action="/add_idea" method="POST">
		<h1 id= "ok"> Share An Idea! </h1>
		<br>
		<br>
		<br>
		<br>
		<br>
	
          <input type="text" name="Title" placeholder="Title">
          <br>

          <input type="text" id= "ideah2" name= "Image" placeholder="Image Link">

        
        <p><input type="text" name="Description" placeholder="Description"></p>
        <br/>
        <div class="colums">
        
        
        <div class="week">
          <div class="question">
            <label>Choose the category that your post falls under </label>
            <div class="question-answer">
              <div>
                <input type="radio" value="Sports" id="radio" name="category"/>Sports
              
              </div>
              <div>
                <input  type="radio" value="Makeup And Fashion" id="radio_1" name="category"/>Makeup And Fashion
              </div>
              <div>
                <input  type="radio" id="radio_2" name="category" value="Technology">Technology

              </div>
              <div>
                <input  type="radio" value="Animals" id="radio_3" name="category"/>Animals
                
              </div>
              <div>
                <input  type="radio" value="Science" id="radio_4" name="category"/>Science
              </div>
              
            </div>
        </div>
         <br>
        <div class="btn-block">
        	<br>
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
</div>
</form>
</body>
</html>